@model BookManagement.Models.Book

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Book</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bookName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author.authorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author.authorName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description_short)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description_short)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.categoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.categoryName)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p class="action_button">
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
