@model BookManagement.Models.Book

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>Book</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.bookName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.bookName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Author.authorName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Author.authorName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.image)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description_short)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description_short)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Category.categoryName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Category.categoryName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.bookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
