@model BookManagement.Models.Comment

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Comment</legend>

        @Html.HiddenFor(model => model.commentID)

        <div class="editor-label">
            @Html.LabelFor(model => model.commentContent)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.commentContent)
            @Html.ValidationMessageFor(model => model.commentContent)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.accountID, "account")
        </div>
        <div class="editor-field">
            @Html.DropDownList("accountID", String.Empty)
            @Html.ValidationMessageFor(model => model.accountID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.bookID, "book")
        </div>
        <div class="editor-field">
            @Html.DropDownList("bookID", String.Empty)
            @Html.ValidationMessageFor(model => model.bookID)
        </div>

        <p class="action_button">
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
